html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-family: poppins, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 196, 0);
  margin-bottom: 15px;
}

.contact-container {
  padding: 15px;
  border: none;
  border-bottom: 2px solid rgb(233, 233, 233);
  display: flex;
  align-items: center;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.text-container {
  padding-left: 15px;
}

.name {
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-top: 5px;
  margin-bottom: 5px;
}

.phone {
  font-family: poppins, sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: rgb(151, 151, 151);
}